/* CSS for the header */

body {
  margin: 0;
  padding: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  opacity: 1;
  background-color: white;
}

header span {
  color: MediumAquamarine;
}

.logo img {
  display: inline-block;
  margin-right: 12px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

nav {
  display: flex;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

/* CSS for the main container */

.container {
  display: flex;
  justify-content: space-between;
  padding: 100px 20px 0 20px;
  margin-bottom: 78px;
}

div {
  /*border: 1px solid black;*/
}

.large, .medium, .small {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

#headline {
  background-image: url("images/img-story-main.png");
  display: flex;
  height: 300px;
}

.on-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-align: center;
  display: block;
}

#headline span {
  font-size: 40px;
  padding-bottom: 100px;
  display: block;

}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#large1, #large2 {
  width: 48%;
}

#large1 div {
  background-image: url("images/img-story-2.png");
  height: 300px;
  display: flex;
}

#large2 div {
  background-image: url("images/img-story-3.png");
  height: 300px;
  display: flex;
}

#mid1 {
  background-image: url("images/img-story-1.png");
  height: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.small h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.small ul {
  list-style: none;
}

.small ul li {
  padding: 0;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  /*text-align: center;*/
  padding: 11px 20px;
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;

}

footer div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .info span {
  display: block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 25px;
}

footer .info, footer .info ul {
  display: flex;
  align-items: center;
}

footer .info ul {
  list-style: none;
  padding-left: 25px;
}

footer .info ul li {
  padding-right: 15px;
}

footer .info ul li a {
  color: black;
}
